@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
=====================
Theming
=====================
*/

@layer base {
    :root {
        --black: #000;
        --primary: #47205066;
        --secondary: #5435AB;
        --whiteDark: #11111E00;
        --success: #E8E1FF;
        --successDark: #D3C4FF;
        --danger: #AAE5FF;
        --info: #817D8D;
        --info2: #707070;
        --info3: #00000080;
        --info4: #24243E;
        --info5: #233951;
        --danger2: #6ED2FF;
        --cyan: #BCB6CE;
        --indigo: #9A8EBC;
        --background: #0C1117;
        --backgroundDark: #10161D;
        --muted: #0D1118;
        --muted2: #472050;
        --muted3: #141C26;
        --muted4: #131C26;
        --muted5: #161B22;
        --muted6: #23292f;
        --muted7: #626262;
    }
}

@layer base {
     body {
        @apply bg-background font-montbook text-white text-sm 2xl:text-base leading-7 tracking-[0.28px];
    }

    .text-color-gradient {
        background: #472050;
        background: linear-gradient(to right, #472050 27%, #5435AB 45%, #6ED2FF 71%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;        
    }

    html body .container {
        @apply pl-5 pr-5 w-full mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1395px];
    }
    
    .transition-32s {
        transition: all .32s ease-in-out;
    } 

    a.sub-menu:hover p {
        @apply text-danger;
    }
    
    .open-menu {
        @apply overflow-hidden;
    }

    img {
        position: unset !important;
        @apply object-cover;
    }

    header .sub-menu img {
        position: absolute !important;
        height: 100% !important;
    }

    .last-bg .flex:last-child {
        @apply before:absolute z-[1] before:z-[-1] before:w-[1000%] before:h-full before:top-0 before:bottom-0 before:left-[-50%] before:right-0 before:bg-[#31383e] before:absolute  relative before:content-[''] border-0 ;
    }
    
    .paginations li.active a {
        @apply bg-secondary;
    }
    
    .cat-list li.active a {
        @apply bg-secondary;
    }

    html body .price-btn {
        @apply text-[17px] tracking-normal leading-7 font-montsemibold;
    }

    html body .f-img:first-child {
        @apply w-[132px];
    }
}